@charset "UTF-8";

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-titleWrap {
	margin-top: 180px;
	font-size: 25px;
	font-weight: 500;
}

.titleWrap {
	margin-top: 90px;
	font-size: 25px;
	font-weight: 500;
}

.contentWrap {
	margin-top: 20px;
}

.signupAndFindWrap {
	display: flex;
	justify-content: space-between;
}

.sButtonWrap {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

.sButton {
	color: #4070f4;
	background: none;
	border: none;
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.inputWrap {
	display: flex;
	width: 300px;
	border-radius: 0;
	padding: 15px;
	margin-top: 8px;
	margin-bottom: 25px;
	border: 1px solid #a2a1a1;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.loginButton {
  width: 300px;
  height: 48px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  background-color: #4070f4;
  color: white;
  cursor: pointer;
}

/* 로그인 버튼 비활성화 */
.loginButton.disabled {
    background-color: #a2a1a1;
    cursor: not-allowed;
}

/* 로그인 버튼 활성화 */
.loginButton.enabled {
    background-color: #4070f4;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.sloginButton {
  width: 150px;
  height: 48px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  background-color: #4070f4;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.checkButton {
	width: 90px;
	height: 20px;
	font-size: 12px;
	background-color: #4070f4;
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}

.centerText {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.smallText {
	text-align: center;
	font-size: 14px;
}

/* 좌우로 배치*/
.inputWrapInline {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
    margin-bottom: 25px;
}

.errorMessage {
	text-align: center;
	font-size: 14px;
	color: red;
}
